<?xml version="1.0"?>
<config>
    <modules>
        <StuntCoders_DeletedProductUrl>
            <version>0.1.0</version>
        </StuntCoders_DeletedProductUrl>
    </modules>
    <global>
        <models>
            <stuntcoders_deletedproducturl>
                <class>StuntCoders_DeletedProductUrl_Model</class>
                <resourceModel>stuntcoders_deletedproducturl_resource</resourceModel>
            </stuntcoders_deletedproducturl>
            <stuntcoders_deletedproducturl_resource>
                <class>StuntCoders_DeletedProductUrl_Model_Resource</class>
            </stuntcoders_deletedproducturl_resource>
        </models>
        <blocks>
            <stuntcoders_deletedproducturl>
                <class>StuntCoders_DeletedProductUrl_Block</class>
            </stuntcoders_deletedproducturl>
        </blocks>
        <helpers>
            <stuntcoders_deletedproducturl>
                <class>StuntCoders_DeletedProductUrl_Helper</class>
            </stuntcoders_deletedproducturl>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <catalog_product_save_after>
                <observers>
                    <stuntcoders_deletedproducturl>
                        <class>stuntcoders_deletedproducturl/observer</class>
                        <method>processProductAfterSaveEvent</method>
                    </stuntcoders_deletedproducturl>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_before>
                <observers>
                    <stuntcoders_deletedproducturl>
                        <class>stuntcoders_deletedproducturl/observer</class>
                        <method>processProductAfterDeleteEvent</method>
                    </stuntcoders_deletedproducturl>
                </observers>
            </catalog_product_delete_before>
        </events>
    </adminhtml>
</config>
